// <----- START: Default styles ----->
svg {
  display: block;
  margin: auto;
}

html, body {
  height: 100%;
}

body {
  font-family: "Montserrat", 'HelveticaNeue-Light', sans-serif !important;
  background: linear-gradient(
      rgba(248, 248, 248, 0.7),
      rgba(248, 248, 248, 0.7)
    ),
     url("https://s3.amazonaws.com/comparable/DeathtoStock_Creative+Community3HalfSize.jpg");
  background-size: cover;
  background-attachment: fixed;
}

p {
  font-family: "Montserrat", 'HelveticaNeue-Light', sans-serif !important;
}

.panel {
  background-color: rgba(255, 255, 255, 0.7);
}
// <----- END: Default styles ----->

#home h1 {
  color: #2092e1;
}

#home .btn.btn-lg {
  color: #2092e1;
  border-radius: 35px;
  border: 2px solid #2092e1;
}

#home .btn.btn-lg:hover {
  border: none;
  color: #ffffff;
  background-color: #ff8a37;
  border-radius: 35px;
  border: 2px solid #ff8a37;
}

#home > .hero-section .btn.btn-lg:hover span {
  display: none;
}

#home > .hero-section .btn.btn-lg:hover:before {
  content: 'Sign Up!';
}

.hero-section {
  text-align: center;
  min-height: 500px;
}

.mid-section {
  background-color: rgb(255, 255, 255);
  text-align: center;
  min-height: 400px !important;
}

.mid-section h4 {
  margin: 25px 0px;
}

.mid-section img {
  max-width: 75%;
  // max-width: 200px;
  transition: all .2s ease-in-out;
  margin-bottom: 25px;
}

.mid-section img:hover {
  transform: scale(1.1);
}

.lower-section {
  text-align: center;
}

.vertical-center {
  min-height: 50%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 50vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

// <----- START: Navbar styles ----->
.navbar-default .navbar-nav > li > a {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
  margin-left: 0;
}

.navbar {
  padding: 5px 0px;
}

.navbar-brand {
  font-family: "Montserrat", sans-serif !important;
  padding-top: 14px;
  text-transform: uppercase;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > li > a {
  color: #2092e1;
}

.navbar-brand:hover {
  color: #ff8a37 !important;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #ff8a37;
}

#offer-btn {
  margin: 0 5px 0 5px;
  border: 2px solid #2092e1;
  border-radius: 35px;
  background-color: #f8f8f8;
  padding: 15px 24px !important;
  color: #2092e1 !important;
}

#offer-btn:hover {
  border: 2px solid #ff8a37 !important;
  background: #ff8a37 !important;
  color: #fff !important;
}

.has-warning .form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.has-warning .form-control {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.login-btn {
  cursor: pointer;
}
// <----- END: Navbar styles ----->

// <----- END: Footer styles ----->

footer {
  text-align: center;
  position: relative;
  // margin-top: -150px; /* negative value of footer height */
  // height: 150px;
  clear:both;
  padding-top:20px;
}
footer p {
  color: #5c5c5c;
}

footer a, i {
  color: #2092e1
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: sans-serif;
  font-size: 11px;
}

.controls button {
  display: block;
  margin: 4em auto 4em auto;
  background-color: 'aquawhite';
}

#equity {
  position: relative;
  top: -500px;
}

#salary {
  text-align: center;
}

.displayList {
  list-style: none
}

.offerTitle {
  font-size: 1.2em;
}

.offer-input .form-group {
  margin: 0px 3px;
}

.offer-form {
  text-align: center;
}

.offer-form .panel-default {
  margin-top: 10px;
}

.offer-form .panel-heading {
  background-color: #2092e1;
  color: #f8f8f8;
}

.btn.btn-success {
  border-radius: 35px;
  padding: 12px 18px !important;
}

.btn.btn-success:hover {
  background-color: #4caf50;
  color: #FFFFFF;
}

.toggle-btn {
  float: right;
}

.toggle-btn > button {
  border: 1px solid #2092e1;
  border-radius: 35px;
  background-color: #f8f8f8;
  padding: 4px 8px !important;
  color: #2092e1;
}

.toggle-btn > .btn:focus {
  border: 1px solid #ff8a37;
  background: #ff8a37;
  color: #fff;
}

// Badge Circles
.responsive-circle {
    font-size: 16px;
    font-weight: 700;
    margin: 0 20px 20px;
    width: 115%;
}

.responsive-circle::after {
    border-radius: 50%;
    content: "";
    display: block;
    height: 0;
    margin-bottom: 20px;
    padding-bottom: 100%;
    width: 100%;
}

.responsive-circle div {
    color: white;
    float: left;
    line-height: 1em;
    margin-top: -0.5em;
    padding-top: 40%;
    text-align: center;
    width: 100%;
}

.red-circle::after {
  background: #ff4d4d;
}

.green-circle::after {
  background: #5cd65c;
}

[class^=arr-]{
  border:       solid currentColor;
  border-width: 0 .2em .2em 0;
  display:      inline-block;
  padding:      .20em;
}

.arr-up    {transform:rotate(-135deg); -webkit-transform:rotate(-135deg);}
.arr-down  {transform:rotate(45deg);   -webkit-transform:rotate(45deg);}

/*BUBBLE CHART CSS*/

.bubble-chart-container {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}

/* Center text in the circle, and hide any overflow */
.bubble-chart-container .bubble-chart-text .bubble-label {
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 50%;
  will-change: left, top, height, width;
}

/* Show the overflow when hovering over a label */
.bubble-chart-container .bubble-chart-text .bubble-label:hover {
  overflow: visible;
  font-weight: bold;
}

/* Optional, but recommended - reduce the size of text on medium bubbles */
.bubble-chart-container .bubble-chart-text .bubble-label.medium {
  font-size: 0.8em;
}

/* Optional, but recommended - hide the text on small bubbles */
.bubble-chart-container .bubble-chart-text .bubble-label.small {
  font-size: 0;
}
/* Make sure to unhide the text when hovering */
.bubble-chart-container .bubble-chart-text .bubble-label.small:hover {
  font-size: 0.8em;
}

.bubble-chart-d3 {
  width: 1000px;
  height: 1000px;
}
.bubble-legend {
  display: none;
}

// <--- Tooltips --->
.tooltip {
  padding: 3px;
  border: 2px solid;
  border-radius: 4px;
  background-color: #eeeeee;
  opacity: 1;
  justify-content: center;
  align-items: center;
}

// <--- END: Tooltips --->

// <--- Loader --->

.loader-container {
  width: 1108px;
  height: 977px;
  padding: 30px;
  text-align: -webkit-center;
  text-align: center;
  position: relative;
}

.loader-img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.offerCard {
  background: #fff;
  border-radius: 2px;
  height: 200px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  color: #555F61;
  font-size: 1.5em;
}

.cardTitle {
  padding: 0 0 0 .7em;
  font-weight: 600;
  color: #2092e1;
}

.offersHeading {
  padding: 10px;
  font-size: 3em;
  font-weight: bold;
  color: #2092e1;
}

/* Scatter */
.chartRoot {
  border: 1px solid #F1F1F1;
  box-shadow: 0 0 5px #CCC;
  box-sizing: border-box;
}
.bubble {
  display: inline-block;
  fill-opacity: 0.7;
  stroke: #333;
  stroke-weight: 1px;
  stroke-opacity: 0.5;
}

.axis {
  font-size: 10px;
  path,
  line {
    fill: none;
    stroke: #000;
    stroke-width: 1px;
    shape-rendering: crispEdges;
  }
}

.experimental {
  color: rgba(0, 0, 0, 0.5);
}

.add-offers:hover {
  text-decoration: none;
}

.add-offers .offersHeading:hover {
  color: #ff8a37;
}
